table.pvtTable {
  font-size: 12pt;
  font-family: "Noto Sans HK", "Roboto", "Helvetica", "Arial", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.flex-section {
  /* flex-grow: 1; */
  display: flex;
}

.around-space-left {
  flex-grow: 1; /* default 0 */
  flex-shrink: 3; /* default 1 */
}

.around-space-right {
  flex-grow: 1; /* default 0 */
  flex-shrink: 3; /* default 1 */
}

.flex-table {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: auto;
  height: 90vh;
}

table.pvtTable thead tr:nth-child(4) th.pvtColLabel::before {
  content: "$";
}

table.pvtTable thead tr th {
  background-color: #f5f5f5;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

table.pvtTable tbody tr th {
  background-color: #fafafa;
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
}

table.pvtTable tbody tr td {
  text-align: center;
}

table.pvtTable tbody tr:nth-child(even) td {
  background: #fafafa;
}

table.pvtTable tbody tr:hover th[colspan="2"],
table.pvtTable tbody tr:hover td {
  background-color: #8dd4d8;
  color: #fff;
}

.pvtTotal,
.pvtTotalLabel,
.pvtGrandTotal {
  display: none;
}
